.expertise{
	padding: 70px 0 70px 0;
}
.block-icon-content{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	&:last-child{
		border-right: none;
	}
	&:last-child .block-icon-content{
		border-bottom: none;
	}
}