.section-play{
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
.video{
	border: 1px solid $color-white;
	border-radius: 50%;
	&-button{
		background-color: transparent;
    	border: none;
	}
	&-button-border{
		border: 3px solid #ffffff;
		width: 100px;
		height: 100px;
		display: inline-block;
		position: relative;
		border-radius: 50%;
	}
	&-button-play{
		padding: 25px 25px 25px 30px;
	}
}