.works{
	padding-top: 70px;
	padding-bottom: 70px;
	&-content{
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
		font-size: 0;
		img{
			object-fit: cover;
		}
	}
	&-image{
		width: 16.6666%;
	}
	&-title{
		margin-bottom: 45px;
	}
	&-footer{
		margin-top: 45px;
	}
}
.icon-arrow{
	padding-left: 10px;
}
