.block-icon{
	padding-top: 50px;
	letter-spacing: 0.7px;
	&-content{
		text-align: center;
	}
	&-title{
		color: $color-gray;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&-text{
		opacity: 0.75;
		color: #333;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		margin-top: 25px;
	}
	&-image{
		height: 42px;
		margin: 35px;
	}
	// &-content-first{
	// 	&:nth-child(2){
	// 		 background-color:#4BB1CF;
	// 	}
	// }
}