.logo{
	&-img,
	&-text{
		display: inline-block;
		vertical-align: middle;
	}
	&-img{
		margin-right: 15px;
	}
	&-text{
		color: #00e0d0;
		background-image: $gradient;
		font-size: 30px;
		font-weight: 100;
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}
}