.text{
	color: $color-white;
	font-size: $font-size-text;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.7px;
	&-gray{
		color: $color-gray;
	}
	&-padding{
		p:not(:last-child) {
			padding-bottom: 25px;
		}
	}
	&-base{
		text-align: center;
		color: #2f2d35;
		opacity: 0.75;
		font-family: "Playfair Display", sans-serif;
		letter-spacing: 1.05px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 30px;
		&:after{
			content: "";
			width: 50px;
			height: 1px;
			background-color: $color-gray;
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -25px;
			opacity: 0.3;
		}
	}
}